<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6IHGzc88kM4Ln0vAOBHmy2CBD2rbg2iE</string>
	<key>GCM_SENDER_ID</key>
	<string>491769271965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agentconsole.ios</string>
	<key>PROJECT_ID</key>
	<string>samaaoda-66ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>samaaoda-66ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491769271965:ios:7fc65507c785f78098a674</string>
</dict>
</plist>